.image{
    margin-left: 71.31px;
    margin-top:35.7px
  }
  .search-box {
    float: right;
}
		
.search-box input[type=text] {
    height: 0px;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 350px;
    margin-top: 25.3px;
    margin-right:620px;
    border-radius: 20px;
    border-color: #A61Ae8;
    
}
#nav {
    list-style: none;
    overflow:hidden;
    margin-left:900px;
    margin-top: -40px;
    padding:0;
    float: right; 
    display: flex;
    width:47%; 
  }
  #nav a {
    text-align:center;
    padding:10px;
    width:80px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
  }
.btn{
  margin-right: 2100px;
  position:absolute;
  border-radius: 10px;
  border-color:#A61Ae8 ;
  height: 38px;
  width: 188px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background: transparent;
}
